openapi: 3.0.1
info:
  description: |-
    The Bosch IoT Manager REST API provides the full functionality of the service, including:

    &middot;    Retrieving devices and features; adding and modifying device-specific properties and attributes

    &middot;    A simple device registration mechanism

    &middot;    All grouping capabilities - listing, creating, modifying and deleting directories and tags

    &middot;    The complete mass management experience, which allows full control over tasks and rules


    Find out more details in our [documentation](https://docs.bosch-iot-suite.com/manager/).
  title: Bosch IoT Manager API
  version: 1.0.0
servers:
- url: https://manager.eu-1.bosch-iot-suite.com/api/1
security:
- bearerAuth: []
- refreshToken: []
- SuiteAuth: []
paths:
  /mme/rules:
    get:
      description: ' Retrieve all available Rules that satisfy the specified filtering
        criteria.'
      operationId: rules
      parameters:
      - description: 'An RQL filter over the Rule attributes.<h5></tt><br/>The attribute
          names in the filtering conditions can be some of:</h5> <ui><tt><li/><b>state</b>
          - integer value corresponding to the Rule state as follows: </tt> <br/>
          <tt>0 - DEFINED </tt> <br/><tt>1 - ENABLED </tt><br/><tt> 2 - DISABLED</tt>
          <br/><tt>3 - FAILED_TO_ENABLE</tt> <li/><tt><b>stateDescription</b> - string
          value corresponding to the state description. </tt><li/><tt><b> involvedCount</b>
          - integer value corresponding to the the number of involved Devices in the
          Rule.</tt> <li/><tt><b> successCount</b> - integer value corresponding to
          the the number of successfully finished Devices in the Rule.</tt><li/><tt><b>warningCount</b>
          - integer value corresponding to the the number of Devices finished with
          warning in the Rule. </tt><li/><tt><b> errorCount</b> - integer value corresponding
          the the number of Devices finished with error in the Rule.</tt> <li/><tt><b>cancelCount</b>
          - integer value corresponding to the the number of Devices finished with
          warning in the Rule.</tt><li/><tt><b>nextTimeTrigger</b> - corresponds to
          the next trigger time (in milliseconds since 1 Jan 1970) if the Rule has
          a timer trigger.</tt> <li/><tt><b>ruleId</b> - string value corresponding
          to the Rule id. </tt><li/><tt><b>user</b> - string value corresponding to
          the user name of the user that has created the Rule.<li/> <tt><b>displayName</b>
          - string value corresponding to the Rule display name. </tt><h4>Filter operations:</h4><ui><li><tt>eq({property},{value})</tt></li><li><tt>ne({property},{value})</tt></li><li><tt>gt({property},{value})</tt></li><li><tt>ge({property},{value})</tt></li><li><tt>lt({property},{value})</tt></li><li><tt>le({property},{value})</tt></li><li><tt>in({property},{value},{value},...)</tt></li><li><tt>like({property},{value})</tt></li><li><tt>exists({property})</tt></li></ui>Note:
          When using filter operations, only Rules with the specified properties are
          returned.<h4>Logical operations:</h4><ui><li><tt>and({query},{query},...)</tt></li><li><tt>or({query},{query},...)</tt></li><li><tt>not({query})</tt></li></ui><h5>Examples:</h5><ui><li><tt>eq(state,0)</tt></li><li><tt>and(eq(involvedCount,2),eq(state,0))</tt></li></ui>'
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: <p>Possible values for the parameter:</p><h5>Paging operations</h5><ul><li><tt>size({page-size})
          Maximum allowed page size is 200. Default page size is 25</tt></li><li><tt>cursor({cursor-id})
          Start the search from the cursor location. Specify the cursor ID without
          quotation marks. Cursor IDs are given in search responses and mark the position
          after the last entry of the previous search. The meaning of cursor IDs is
          unspecified and may change without notice.</tt></li></ul><p><h4>Examples:</h4><ul><li><tt>size(10)
          return 10 results</tt></li><li><tt>cursor(LOREMIPSUM) return results after
          the position of the cursor LOREMIPSUM.</tt></li></ul><p><h5><b>Combine:</b></h5><p>If
          you need to specify multiple options, when using the swagger UI just write
          each option in a new line. When using the plain REST API programmatically,
          you will need to separate the options using a comma (,) character. size(200),cursor(LOREMIPSUM)
        explode: true
        in: query
        name: option
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json: {}
          description: The Rule was successfully retrieved.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all available Rules
      tags:
      - Rules
    post:
      description: Create a Rule with the specified attributes - <code>displayName</code>,
        <code>scope</code>, <code>trigger</code>, <code>options</code>, and <code>action</code>.
        The <code>displayName</code>, <code>scope</code>, <code>trigger</code>, and
        <code>action</code> are required.
      operationId: createRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleInfo'
        description: Creates new rule
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleStatusInfo'
          description: The Rule was successfully created.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Create a Rule
      tags:
      - Rules
  /mme/rules/actions:
    get:
      description: Retrieve all available registered Action provider types. Groovy
        Script action type is available by default.
      operationId: getActionTypes
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains Action types.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all available registered Action types
      tags:
      - Rules
  /mme/rules/actions/{actionType}:
    get:
      description: Retrieve JSON schema format metadata specified by the given <code>actionType</code>,
        describing the input needed on Rule activation.
      operationId: getActionDefMetada
      parameters:
      - explode: false
        in: path
        name: actionType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains JSON schema format
            metadata.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The request could not be completed. The Action Type was not
            found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: 'Retrieve metadata in JSON schema format '
      tags:
      - Rules
  /mme/rules/devices/{deviceId}:
    get:
      description: 'Retrieve all Rules involving a particular Device in which the
        latter satisfies the applied state filter.<p> <h4>Available stateFilter values:</h4>
        <ui><li><tt> FINISHED_SUCCESS(0) : Retrieve only Devices that have finished
        with a success state</tt></li>  <li><tt> FINISHED_WARNING(1) : Retrieve only
        Devices that have finished the execution with a warning state</tt></li> <li><tt>
        FINISHED_ERROR(2) : Retrieve only Devices that have finished the execution
        with an error state</tt></li> <li><tt> FINISHED_CANCELED(3) : Retrieve only
        devices that have finished the execution with a canceled state</tt></li> <li><tt>
        RUNNING(4) : Retrieve only Devices that have a running state</tt></li>  <li><tt>FINISHED(64):
        This value unites all FINISHED_xxx values and could be used only as a parameter
        for filtering</tt></li><li><tt>ANY(128): Retrieve all involved devices, regardless
        of the completion state'
      operationId: listRulesForDevice
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: stateFilter
        required: false
        schema:
          enum:
          - FINISHED_SUCCESS
          - FINISHED_WARNING
          - FINISHED_ERROR
          - FINISHED_CANCELED
          - RUNNING
          - FINISHED
          - ANY
          type: string
        style: form
      - description: <p>Possible values for the parameter:</p><h5>Paging operations</h5><ul><li><tt>size({page-size})
          Maximum allowed page size is 200. Default page size is 25</tt></li><li><tt>cursor({cursor-id})
          Start the search from the cursor location. Specify the cursor ID without
          quotation marks. Cursor IDs are given in search responses and mark the position
          after the last entry of the previous search. The meaning of cursor IDs is
          unspecified and may change without notice.</tt></li></ul><p><h4>Examples:</h4><ul><li><tt>size(10)
          return 10 results</tt></li><li><tt>cursor(LOREMIPSUM) return results after
          the position of the cursor LOREMIPSUM.</tt></li></ul><p><h5><b>Combine:</b></h5><p>If
          you need to specify multiple options, when using the swagger UI just write
          each option in a new line. When using the plain REST API programmatically,
          you will need to separate the options using a comma (,) character. size(200),cursor(LOREMIPSUM)
        explode: true
        in: query
        name: option
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains a list of <code>DeviceRuleStatus</code>.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Device with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all Rules involving a particular Device
      tags:
      - Rules
  /mme/rules/trigger/types:
    get:
      description: Retrieve all available registered Trigger Provider types.
      operationId: triggerTypes
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains Trigger types.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all available registered Trigger types
      tags:
      - Rules
  /mme/rules/trigger/types/{triggerType}/eventsMetadata:
    get:
      description: Retrieve a JSON schema describing a tree-structured collection
        of all possible events delivered by this Trigger type.
      operationId: eventMetadata
      parameters:
      - explode: false
        in: path
        name: triggerType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains JSON-schema event
            metadata.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The request could not be completed. The Trigger Type was not
            found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve a JSON schema of all possible events
      tags:
      - Rules
  /mme/rules/trigger/types/{triggerType}/inputMetadata:
    get:
      description: Retrieve JSON schema format metadata describing the input required
        on Rule activation.
      operationId: triggerMetadata
      parameters:
      - explode: false
        in: path
        name: triggerType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains JSON schema format
            metadata.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The request could not be completed. The Trigger Type was not
            found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve a JSON schema of the required input
      tags:
      - Rules
  /mme/rules/{ruleId}:
    delete:
      description: Delete the Rule with the specified <code>ruleId</code>. If the
        Rule could not be found or requester has insufficient permissions to access
        it, а <code>204 No Content </code>will be returned.
      operationId: deleteRule
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The Rule was successfully deleted.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Delete the Rule
      tags:
      - Rules
    put:
      description: Modify an existing Rule. Only Rules whose state is not enabled
        can be modified. After a Rule is modified, any information related to its
        previous execution (e.g. launched Tasks, number of involved, finished Devices,
        etc.) will be cleared.
      operationId: modify
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleInfo'
        description: Modifies the Rule
      responses:
        "204":
          content:
            application/json: {}
          description: The Rule was successfully modified.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Modify an existing Rule
      tags:
      - Rules
  /mme/rules/{ruleId}/action:
    get:
      description: Retrieve the Groovy script defining the action for this Rule.
      operationId: action
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The Rule action was successfully retrieved.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the Rule action
      tags:
      - Rules
  /mme/rules/{ruleId}/devices:
    get:
      description: 'Retrieve a list of all Devices which are involved in this Rule
        and satisfy the applied <code>stateFilter</code>. A Device is considered involved
        in the Rule if it is involved in at least one Task launched by that Rule.<p>
        <h4>Available stateFilter values:</h4> <ui><li><tt> FINISHED_SUCCESS(0) :
        Retrieve only Devices that have finished with a success state</tt></li>  <li><tt>
        FINISHED_WARNING(1) : Retrieve only Devices that have finished the execution
        with a warning state</tt></li> <li><tt> FINISHED_ERROR(2) : Retrieve only
        Devices that have finished the execution with an error state</tt></li> <li><tt>
        FINISHED_CANCELED(3) : Retrieve only devices that have finished the execution
        with a canceled state</tt></li> <li><tt> RUNNING(4) : Retrieve only Devices
        that have a running state</tt></li>  <li><tt>FINISHED(64): This value unites
        all FINISHED_xxx values and could be used only as a parameter for filtering</tt></li><li><tt>ANY(128):
        Retrieve all involved devices, regardless of the completion state'
      operationId: listDevicesForRule
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: stateFilter
        required: false
        schema:
          enum:
          - FINISHED_SUCCESS
          - FINISHED_WARNING
          - FINISHED_ERROR
          - FINISHED_CANCELED
          - RUNNING
          - FINISHED
          - ANY
          type: string
        style: form
      - description: <p>Possible values for the parameter:</p><h5>Paging operations</h5><ul><li><tt>size({page-size})
          Maximum allowed page size is 200. Default page size is 25</tt></li><li><tt>cursor({cursor-id})
          Start the search from the cursor location. Specify the cursor ID without
          quotation marks. Cursor IDs are given in search responses and mark the position
          after the last entry of the previous search. The meaning of cursor IDs is
          unspecified and may change without notice.</tt></li></ul><p><h4>Examples:</h4><ul><li><tt>size(10)
          return 10 results</tt></li><li><tt>cursor(LOREMIPSUM) return results after
          the position of the cursor LOREMIPSUM.</tt></li></ul><p><h5><b>Combine:</b></h5><p>If
          you need to specify multiple options, when using the swagger UI just write
          each option in a new line. When using the plain REST API programmatically,
          you will need to separate the options using a comma (,) character. size(200),cursor(LOREMIPSUM)
        explode: true
        in: query
        name: option
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains all Devices involved
            in the Rule.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve a list of all involved Devices
      tags:
      - Rules
    put:
      description: Retry the Rule over the Devices whose state satisfies the applied
        <code>stateFilter</code>. 'Once Per Device' option must be selected for the
        Rule.
      operationId: retryDevices
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: stateFilter
        required: true
        schema:
          items:
            enum:
            - SUCCESS
            - WARNING
            - ERROR
            - CANCELED
            - RUNNING
            type: string
          type: array
        style: form
      responses:
        "204":
          content:
            application/json: {}
          description: The successfully completed request contains 204 (NO_CONTENT).
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retry the Rule over the Devices whose state satisfies the applied stateFilter
      tags:
      - Rules
  /mme/rules/{ruleId}/devices/{deviceId}:
    get:
      description: Retrieve the execution status of a specified Device within the
        Rule.
      operationId: ruleDevice
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains the DeviceRuleStatus.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule or Device with
            the given ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the execution status of a specified Device within the Rule
      tags:
      - Rules
    put:
      description: Retry the Rule over the Device with the specified <code>deviceId</code>.
        'Once Per Device' option must be selected for the Rule.
      operationId: retryDevice
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The successfully completed request contains 204 (NO_CONTENT)
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule or Device with
            the given ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retry the Rule over the Device
      tags:
      - Rules
  /mme/rules/{ruleId}/devices/{deviceId}/tasks:
    get:
      description: 'Retrieve all Tasks launched by the Rule which involve a specified
        Device. Limited amount of data is retrieved, by default on a page with 20
        elements.<p> <h4>Available stateFilter values:</h4> <ui><li><tt> FINISHED_SUCCESS(0)
        : Retrieve only Devices that have finished with a success state</tt></li>  <li><tt>
        FINISHED_WARNING(1) : Retrieve only Devices that have finished the execution
        with a warning state</tt></li> <li><tt> FINISHED_ERROR(2) : Retrieve only
        Devices that have finished the execution with an error state</tt></li> <li><tt>
        FINISHED_CANCELED(3) : Retrieve only devices that have finished the execution
        with a canceled state</tt></li> <li><tt> RUNNING(4) : Retrieve only Devices
        that have a running state</tt></li>  <li><tt>FINISHED(64): This value unites
        all FINISHED_xxx values and could be used only as a parameter for filtering</tt></li><li><tt>ANY(128):
        Retrieve all involved devices, regardless of the completion state'
      operationId: listTasksForDeviceInRule
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: stateFilter
        required: false
        schema:
          enum:
          - FINISHED_SUCCESS
          - FINISHED_WARNING
          - FINISHED_ERROR
          - FINISHED_CANCELED
          - RUNNING
          - FINISHED
          - ANY
          type: string
        style: form
      - description: <p>Possible values for the parameter:</p><h5>Paging operations</h5><ul><li><tt>size({page-size})
          Maximum allowed page size is 200. Default page size is 25</tt></li><li><tt>cursor({cursor-id})
          Start the search from the cursor location. Specify the cursor ID without
          quotation marks. Cursor IDs are given in search responses and mark the position
          after the last entry of the previous search. The meaning of cursor IDs is
          unspecified and may change without notice.</tt></li></ul><p><h4>Examples:</h4><ul><li><tt>size(10)
          return 10 results</tt></li><li><tt>cursor(LOREMIPSUM) return results after
          the position of the cursor LOREMIPSUM.</tt></li></ul><p><h5><b>Combine:</b></h5><p>If
          you need to specify multiple options, when using the swagger UI just write
          each option in a new line. When using the plain REST API programmatically,
          you will need to separate the options using a comma (,) character. size(200),cursor(LOREMIPSUM)
        explode: true
        in: query
        name: option
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains Tasks.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule or Device with
            the given ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all Tasks launched by the Rule which involve a specified Device
      tags:
      - Rules
  /mme/rules/{ruleId}/options:
    get:
      description: Retrieve the execution options of the Rule with the specified <code>ruleId</code>.
      operationId: options
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains the execution options
            of the Rule.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the Rule execution options
      tags:
      - Rules
  /mme/rules/{ruleId}/properties:
    get:
      description: Get the custom properties of the Rule with the specified <code>ruleId</code>.
      operationId: properties
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains the custom Rule
            properties.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Get the custom Rule properties
      tags:
      - Rules
    post:
      description: Set custom properties of the Rule with the specified <code>ruleId</code>.
        If <tt> append </tt> is <tt> true</tt> the supplied properties will be appended/added
        to any properties currently existing for  this Rule, otherwise any existing
        properties will be fully replaced by the newly set ones.
      operationId: setProperties
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Properties'
        description: Set or add rule properties
      responses:
        "204":
          content:
            application/json: {}
          description: The Rule properties were successfully set.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Set custom Rule properties
      tags:
      - Rules
  /mme/rules/{ruleId}/scope:
    get:
      description: Retrieve the scope of an existing Rule identified by the specified
        <code>ruleId</code>.
      operationId: scope
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The Rule scope was successfully retrieved.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the Rule scope
      tags:
      - Rules
  /mme/rules/{ruleId}/state:
    get:
      description: Retrieve the state of the Rule with the specified <code>ruleId</code>.
      operationId: state
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: The successfully completed request contains the Rule state.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the Rule state
      tags:
      - Rules
    put:
      description: Enable or disable the Rule with the specified <code>ruleId</code>.
      operationId: setState
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - ENABLE
          - DISABLE
          - DISABLE_CANCEL_TASKS
          type: string
        style: form
      responses:
        "204":
          content:
            application/json: {}
          description: The Rule state was successfully changed.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Enable or disable the Rule
      tags:
      - Rules
  /mme/rules/{ruleId}/status:
    get:
      description: Retrieve a Rule by a specified <code>ruleId</code>.
      operationId: rule
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: Load statistic
        explode: true
        in: query
        name: statistic
        required: true
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleStatusInfo'
          description: The successfully completed request contains an already existing
            Rule.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve a Rule
      tags:
      - Rules
  /mme/rules/{ruleId}/tasks:
    get:
      description: Retrieve all Tasks launched by the Rule. By default, only a limited
        amount of data is retrieved on a page with 20 elements.
      operationId: tasks
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      - description: 'An RQL filter over the Task attributes.<h5></tt><br/>The attribute
          names in the filtering conditions can be some of:</h5> <ui><tt><li/><b>state</b>
          - integer value corresponding to the Task state as follows: </tt> <br/><br/><tt>1
          - RUNNING </tt><br/><tt> 2 - FINISHED</tt> <br/><tt>3 - FAILED_TO_LAUNCH</tt>
          <li/><tt><b>stateDescription</b> - string value corresponding to the state
          description </tt><li/><tt><b> involvedCount</b> - integer value corresponding
          to the the number of involved Devices in the Task.</tt> <li/><tt><b> successCount</b>
          - integer value corresponding to the the number of successfully finished
          Devices in the Task</tt><li/><tt><b>warningCount</b> - integer value corresponding
          the the number of Devices finished with warning in the Task </tt><li/><tt><b>
          errorCount</b> - integer value corresponding to the the number of Devices
          finished with error in the Task.</tt> <li/><tt><b>cancelCount</b> - integer
          value corresponding to the the number of Devices finished with warning in
          the Task.</tt><li/><tt><b>launchTime</b> - long value corresponding to the
          Task launch time given as milliseconds since 1 Jan 1970</tt><li/><tt><b>finishTime</b>
          - long value corresponding to the Task finish time given as milliseconds
          since 1 Jan 1970</tt><li/><tt><b>isPaused</b> - boolean value that is <code>true</code>
          when the execution is paused due to time constraint restrictions </tt><li/><tt><b>nextResume</b>
          - corresponds to resume time (in milliseconds since 1 Jan 1970) if the Task
          is currently paused </tt><li/><tt><b>nextPause</b> - corresponds to the
          next pause time (in milliseconds since 1 Jan 1970) if the Task is currently
          not paused </tt><li/><tt><b>taskId</b> - string value corresponding to the
          Task id</tt><li/><tt><b>ruleId</b> - string value corresponding to the Rule
          id if the Task is launched by a Rule trigger</tt><li/><tt><b>user</b> -string
          value corresponding to the user name of the user that has launched the Task<li/><tt><b>action</b>
          - string value corresponding to a textual representation of the searched
          action</tt><li/><tt><b>displayName</b> - string value corresponding the
          Task display name</tt><h4>Filter operations:</h4><ui><li><tt>eq({property},{value})</tt></li><li><tt>ne({property},{value})</tt></li><li><tt>gt({property},{value})</tt></li><li><tt>ge({property},{value})</tt></li><li><tt>lt({property},{value})</tt></li><li><tt>le({property},{value})</tt></li><li><tt>in({property},{value},{value},...)</tt></li><li><tt>like({property},{value})</tt></li><li><tt>exists({property})</tt></li></ui>Note:
          When using filter operations, only Tasks with the specified properties are
          returned.<h4>Logical operations:</h4><ui><li><tt>and({query},{query},...)</tt></li><li><tt>or({query},{query},...)</tt></li><li><tt>not({query})</tt></li></ui><h5>Examples:</h5><ui><li><tt>eq(state,"0")</tt></li><li><tt>and(eq(involvedCount,2),eq(state,0))</tt></li></ui>'
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: <p>Possible values for the parameter:</p><h5>Paging operations</h5><ul><li><tt>size({page-size})
          Maximum allowed page size is 200. Default page size is 25</tt></li><li><tt>cursor({cursor-id})
          Start the search from the cursor location. Specify the cursor ID without
          quotation marks. Cursor IDs are given in search responses and mark the position
          after the last entry of the previous search. The meaning of cursor IDs is
          unspecified and may change without notice.</tt></li></ul><p><h4>Examples:</h4><ul><li><tt>size(10)
          return 10 results</tt></li><li><tt>cursor(LOREMIPSUM) return results after
          the position of the cursor LOREMIPSUM.</tt></li></ul><p><h5><b>Combine:</b></h5><p>If
          you need to specify multiple options, when using the swagger UI just write
          each option in a new line. When using the plain REST API programmatically,
          you will need to separate the options using a comma (,) character. size(200),cursor(LOREMIPSUM)
        explode: true
        in: query
        name: option
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains Tasks.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all Tasks launched by the Rule
      tags:
      - Rules
    put:
      description: Fire the Rule with the specified <code>ruleId</code> manually.
      operationId: fire
      parameters:
      - explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The Rule was successfully fired.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Rule with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Fire the Rule manually
      tags:
      - Rules
  /mme/tasks:
    get:
      description: ' Retrieve all available Tasks that satisfy the filtering criteria.'
      operationId: tasks_1
      parameters:
      - description: 'An RQL filter over the Task attributes.<h5></tt><br/>The attribute
          names in the filtering conditions can be some of:</h5> <ui><tt><li/><b>state</b>
          - integer value corresponding to the Task state as follows: </tt> <br/><br/><tt>1
          - RUNNING </tt><br/><tt> 2 - FINISHED</tt> <br/><tt>3 - FAILED_TO_LAUNCH</tt>
          <li/><tt><b>stateDescription</b> - string value corresponding to the state
          description </tt><li/><tt><b> involvedCount</b> - integer value corresponding
          to the the number of involved Devices in the Task.</tt> <li/><tt><b> successCount</b>
          - integer value corresponding to the the number of successfully finished
          Devices in the Task</tt><li/><tt><b>warningCount</b> - integer value corresponding
          the the number of Devices finished with warning in the Task </tt><li/><tt><b>
          errorCount</b> - integer value corresponding to the the number of Devices
          finished with error in the Task.</tt> <li/><tt><b>cancelCount</b> - integer
          value corresponding to the the number of Devices finished with warning in
          the Task.</tt><li/><tt><b>launchTime</b> - long value corresponding to the
          Task launch time given as milliseconds since 1 Jan 1970</tt><li/><tt><b>finishTime</b>
          - long value corresponding to the Task finish time given as milliseconds
          since 1 Jan 1970</tt><li/><tt><b>isPaused</b> - boolean value that is <code>true</code>
          when the execution is paused due to time constraint restrictions </tt><li/><tt><b>nextResume</b>
          - corresponds to resume time (in milliseconds since 1 Jan 1970) if the Task
          is currently paused </tt><li/><tt><b>nextPause</b> - corresponds to the
          next pause time (in milliseconds since 1 Jan 1970) if the Task is currently
          not paused </tt><li/><tt><b>taskId</b> - string value corresponding to the
          Task id</tt><li/><tt><b>ruleId</b> - string value corresponding to the Rule
          id if the Task is launched by a Rule trigger</tt><li/><tt><b>user</b> -string
          value corresponding to the user name of the user that has launched the Task<li/><tt><b>action</b>
          - string value corresponding to a textual representation of the searched
          action</tt><li/><tt><b>displayName</b> - string value corresponding the
          Task display name</tt><h4>Filter operations:</h4><ui><li><tt>eq({property},{value})</tt></li><li><tt>ne({property},{value})</tt></li><li><tt>gt({property},{value})</tt></li><li><tt>ge({property},{value})</tt></li><li><tt>lt({property},{value})</tt></li><li><tt>le({property},{value})</tt></li><li><tt>in({property},{value},{value},...)</tt></li><li><tt>like({property},{value})</tt></li><li><tt>exists({property})</tt></li></ui>Note:
          When using filter operations, only Tasks with the specified properties are
          returned.<h4>Logical operations:</h4><ui><li><tt>and({query},{query},...)</tt></li><li><tt>or({query},{query},...)</tt></li><li><tt>not({query})</tt></li></ui><h5>Examples:</h5><ui><li><tt>eq(state,"0")</tt></li><li><tt>and(eq(involvedCount,2),eq(state,0))</tt></li></ui>'
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: <p>Possible values for the parameter:</p><h5>Paging operations</h5><ul><li><tt>size({page-size})
          Maximum allowed page size is 200. Default page size is 25</tt></li><li><tt>cursor({cursor-id})
          Start the search from the cursor location. Specify the cursor ID without
          quotation marks. Cursor IDs are given in search responses and mark the position
          after the last entry of the previous search. The meaning of cursor IDs is
          unspecified and may change without notice.</tt></li></ul><p><h4>Examples:</h4><ul><li><tt>size(10)
          return 10 results</tt></li><li><tt>cursor(LOREMIPSUM) return results after
          the position of the cursor LOREMIPSUM.</tt></li></ul><p><h5><b>Combine:</b></h5><p>If
          you need to specify multiple options, when using the swagger UI just write
          each option in a new line. When using the plain REST API programmatically,
          you will need to separate the options using a comma (,) character. size(200),cursor(LOREMIPSUM)
        explode: true
        in: query
        name: option
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json: {}
          description: Retrieve all Tasks
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all Tasks
      tags:
      - Tasks
    post:
      description: Launch a Task with the specified attributes - <code>displayName</code>,
        <code>scope</code>, <code>options</code> and <code>action</code>. The displayName,
        scope, and action are required.
      operationId: launchTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestTaskInfo'
        description: Launch new task
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusInfo'
          description: The Task was successfully launched.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Launch a Task
      tags:
      - Tasks
  /mme/tasks/devices/{deviceId}:
    get:
      description: 'Retrieve all Tasks and respective execution status for a particular
        Device, which  satisfies the applied state filter. The <code>freeTasks</code>
        value of <tt>true</tt> specifies that only Task executions not launched by
        any Rule should be retrieved, whereas the value of <tt>false</tt> specifies
        that all Task executions will be retrieved (including those launched by Rules).<p><h4>Available
        stateFilter values:</h4> <ui><li><tt> FINISHED_SUCCESS(0) : Retrieve only
        Devices that have finished the Task execution with a sucess state</tt></li>  <li><tt>
        FINISHED_WARNING(1) : Retrieve only Devices that have finished the Task execution
        with a warning state</tt></li> <li><tt> FINISHED_ERROR(2) : Retrieve only
        Devices that have finished the Task execution with an error state</tt></li>
        <li><tt> FINISHED_CANCELED(3) : Retrieve only Devices that have finished the
        Task execution with a canceled state</tt></li> <li><tt> RUNNING(4) : Retrieve
        only Devices that have finished the Task execution with a running state</tt></li>  <li><tt>FINISHED(64):
        This value unites all FINISHED_xxx values and could be used only as parameter
        for filtering</tt></li><li><tt>ANY(128): Retrieve all involved Devices, regardless
        of the completion sate'
      operationId: listTasksForDevice
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: stateFilter
        required: false
        schema:
          enum:
          - FINISHED_SUCCESS
          - FINISHED_WARNING
          - FINISHED_ERROR
          - FINISHED_CANCELED
          - RUNNING
          - FINISHED
          - ANY
          type: string
        style: form
      - explode: true
        in: query
        name: freeTasks
        required: false
        schema:
          type: boolean
        style: form
      - description: <p>Possible values for the parameter:</p><h5>Paging operations</h5><ul><li><tt>size({page-size})
          Maximum allowed page size is 200. Default page size is 25</tt></li><li><tt>cursor({cursor-id})
          Start the search from the cursor location. Specify the cursor ID without
          quotation marks. Cursor IDs are given in search responses and mark the position
          after the last entry of the previous search. The meaning of cursor IDs is
          unspecified and may change without notice.</tt></li></ul><p><h4>Examples:</h4><ul><li><tt>size(10)
          return 10 results</tt></li><li><tt>cursor(LOREMIPSUM) return results after
          the position of the cursor LOREMIPSUM.</tt></li></ul><p><h5><b>Combine:</b></h5><p>If
          you need to specify multiple options, when using the swagger UI just write
          each option in a new line. When using the plain REST API programmatically,
          you will need to separate the options using a comma (,) character. size(200),cursor(LOREMIPSUM)
        explode: true
        in: query
        name: option
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains the specific page
            with DeviceTaskStatus.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Device with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all Tasks and respective execution status for a particular
        Device
      tags:
      - Tasks
  /mme/tasks/devices/{deviceId}/items:
    get:
      description: Retrieve all Execution Items for a specific Device.
      operationId: listExecutionsForDevice
      parameters:
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: stateFilter
        required: false
        schema:
          enum:
          - FINISHED_SUCCESS
          - FINISHED_WARNING
          - FINISHED_ERROR
          - FINISHED_CANCELED
          - RUNNING
          - FINISHED
          - ANY
          type: string
        style: form
      - description: <p>Possible values for the parameter:</p><h5>Paging operations</h5><ul><li><tt>size({page-size})
          Maximum allowed page size is 200. Default page size is 25</tt></li><li><tt>cursor({cursor-id})
          Start the search from the cursor location. Specify the cursor ID without
          quotation marks. Cursor IDs are given in search responses and mark the position
          after the last entry of the previous search. The meaning of cursor IDs is
          unspecified and may change without notice.</tt></li></ul><p><h4>Examples:</h4><ul><li><tt>size(10)
          return 10 results</tt></li><li><tt>cursor(LOREMIPSUM) return results after
          the position of the cursor LOREMIPSUM.</tt></li></ul><p><h5><b>Combine:</b></h5><p>If
          you need to specify multiple options, when using the swagger UI just write
          each option in a new line. When using the plain REST API programmatically,
          you will need to separate the options using a comma (,) character. size(200),cursor(LOREMIPSUM)
        explode: true
        in: query
        name: option
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains all Execution Items
            for the specified device.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Device with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all Execution Items for a device
      tags:
      - Tasks
  /mme/tasks/{taskId}:
    delete:
      description: Delete the Task with the specified <code>taskId</code>. If the
        Task could not be found or requester has insufficient permissions to access
        it, а <code>204 No Content</code> will be returned.
      operationId: deleteTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The Task was successfully deleted.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Delete a Task
      tags:
      - Tasks
  /mme/tasks/{taskId}/action:
    get:
      description: Retrieve the Groovy script defining the action for this Task.
      operationId: action_1
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The Task action was successfully retrieved.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the Task action
      tags:
      - Tasks
  /mme/tasks/{taskId}/devices:
    get:
      description: 'Retrieve all Devices which are involved in this Task and have
        the specified execution state. The <code>stateFilter</code> is a filter on
        the execution state of the retrieved involved devices.<p><h4>Available stateFilter
        values:</h4> <ui><li><tt> FINISHED_SUCCESS(0) : Retrieve only Devices that
        have finished the Task execution with a sucess state</tt></li>  <li><tt> FINISHED_WARNING(1)
        : Retrieve only Devices that have finished the Task execution with a warning
        state</tt></li> <li><tt> FINISHED_ERROR(2) : Retrieve only Devices that have
        finished the Task execution with an error state</tt></li> <li><tt> FINISHED_CANCELED(3)
        : Retrieve only Devices that have finished the Task execution with a canceled
        state</tt></li> <li><tt> RUNNING(4) : Retrieve only Devices that have finished
        the Task execution with a running state</tt></li>  <li><tt>FINISHED(64): This
        value unites all FINISHED_xxx values and could be used only as parameter for
        filtering</tt></li><li><tt>ANY(128): Retrieve all involved Devices, regardless
        of the completion sate'
      operationId: listDevicesForTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: stateFilter
        required: false
        schema:
          enum:
          - FINISHED_SUCCESS
          - FINISHED_WARNING
          - FINISHED_ERROR
          - FINISHED_CANCELED
          - RUNNING
          - FINISHED
          - ANY
          type: string
        style: form
      - description: <p>Possible values for the parameter:</p><h5>Paging operations</h5><ul><li><tt>size({page-size})
          Maximum allowed page size is 200. Default page size is 25</tt></li><li><tt>cursor({cursor-id})
          Start the search from the cursor location. Specify the cursor ID without
          quotation marks. Cursor IDs are given in search responses and mark the position
          after the last entry of the previous search. The meaning of cursor IDs is
          unspecified and may change without notice.</tt></li></ul><p><h4>Examples:</h4><ul><li><tt>size(10)
          return 10 results</tt></li><li><tt>cursor(LOREMIPSUM) return results after
          the position of the cursor LOREMIPSUM.</tt></li></ul><p><h5><b>Combine:</b></h5><p>If
          you need to specify multiple options, when using the swagger UI just write
          each option in a new line. When using the plain REST API programmatically,
          you will need to separate the options using a comma (,) character. size(200),cursor(LOREMIPSUM)
        explode: true
        in: query
        name: option
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains the state of Devices
            in the scope of a Task.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve all Devices involved in this Task
      tags:
      - Tasks
    put:
      description: 'Retry the Task over the Devices whose status satisfies the applied
        state filter. Retrying forces: <ui><li><tt>partial executions that are not
        finished to be canceled</tt></li><li><tt>all previous execution info for these
        Devices within the Task to be deleted</tt></li><li><tt>the action script of
        the Task to be run again for these Devices</tt></li>'
      operationId: retryDevices_1
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: stateFilter
        required: true
        schema:
          items:
            enum:
            - SUCCESS
            - WARNING
            - ERROR
            - CANCELED
            - RUNNING
            type: string
          type: array
        style: form
      responses:
        "204":
          content:
            application/json: {}
          description: The successfully completed request contains 204 (NO_CONTENT).
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retry a Task over a particular Devices
      tags:
      - Tasks
  /mme/tasks/{taskId}/devices/{deviceId}:
    get:
      description: Retrieve the Device task status of a particular Device in the scope
        of a Task.
      operationId: taskDevice
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains the DeviceTaskStatus
            in the scope of a Task.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task or Device with
            the given ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the Device task status in the scope of a Task
      tags:
      - Tasks
    put:
      description: 'Retry the Task over the Device with the specified <code>deviceId</code>.
        Retrying forces: <ui><li><tt>partial executions that are not finished to be
        canceled</tt></li><li><tt>all previous execution info for this Device within
        the Task to be deleted</tt></li><li><tt>the action script of the Task to be
        run again for this Device</tt></li>'
      operationId: retryDevice_1
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The successfully completed request contains 204 (NO_CONTENT).
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task or Device with
            the given ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retry the Task over a Device
      tags:
      - Tasks
  /mme/tasks/{taskId}/devices/{deviceId}/state:
    put:
      description: Cancel the execution of this Task over a Device
      operationId: cancelDeviceInTask
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The execution of the Task was successfully canceled.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task or Device with
            the given ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Cancel the execution of this Task over a Device
      tags:
      - Tasks
  /mme/tasks/{taskId}/options:
    get:
      description: Retrieve the execution options of the Task by the specified <code>taskId</code>.
      operationId: options_1
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains the execution options
            of the Task.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the execution options of the Task
      tags:
      - Tasks
  /mme/tasks/{taskId}/properties:
    get:
      description: Get the custom properties assigned to the Task with the specified
        <code>taskId</code>.
      operationId: properties_1
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The successfully completed request contains the custom Task
            properties.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Get the custom properties assigned to this Task
      tags:
      - Tasks
    post:
      description: Set custom properties to the Task with the specified <code>taskId</code>.
        If <tt> append </tt> is <tt> true</tt>, the supplied properties will be appended/added
        to any properties currently existing for  this Task, otherwise any existing
        properties will be fully replaced by the supplied ones.
      operationId: setProperties_1
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Properties'
        description: Set or add Task properties
      responses:
        "204":
          content:
            application/json: {}
          description: The Task properties were successfully set.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Set custom Task properties
      tags:
      - Tasks
  /mme/tasks/{taskId}/rule:
    get:
      description: Retrieve the Rule which launched this Task or <code>204(NO_CONTENT)</code>
        if Task was manually launched.
      operationId: rule_1
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The Rule was successfully retrieved.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the Rule which launched this Task
      tags:
      - Tasks
  /mme/tasks/{taskId}/scope:
    get:
      description: Retrieve the scope of the Task with the specified <code>taskId</code>.
      operationId: scope_1
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: The Task scope was successfully retrieved.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the Task scope
      tags:
      - Tasks
  /mme/tasks/{taskId}/state:
    get:
      description: Retrieve the state of the Task with the specified <code>taskId</code>.
      operationId: state_1
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: The successfully completed request contains the state of the
            Task.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
          description: An internal error was encountered and the request could not
            be completed.
      summary: Retrieve the state of the Task
      tags:
      - Tasks
    put:
      description: Cancel the execution of the Task by the specified <code>taskId</code>.
        If the Task could not be found or requester has insufficient permissions to
        access it, а <code>204 No Content</code> will be returned.
      operationId: cancel
      parameters:
      - explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: Cancel the execution of the Task by the specified <code>taskId</code>.
            If the Task could not be found or requester has insufficient permissions
            to access it, а <code>204 No Content</code> will be returned.
        "400":
          content:
            application/json: {}
          description: 'The request could not be completed. The ID either does not
            contain the mandatory namespace prefix (java package notation + : colon)
            or does not conform to RFC-2396 (URI)'
        "401":
          content:
            application/json: {}
          description: The request could not be completed due to missing authentication.
        "403":
          content:
            application/json: {}
          description: The request could not be completed due to missing authorization
            to perform the requested operation on the given resource
        "404":
          content:
            application/json: {}
          description: The request could not be completed. The Task with the given
            ID was not found.
        "500":
          content:
            application/json: {}
[...]
